<div class="section">
	<%= content_tag( 'h2', 'Actors' ) %>
	<% if castings.empty? -%>
		<%= content_tag( 'p', 'No actors to show.' ) %>
	<% else -%>
		<ol>
			<%= render :partial => 'casting/casting_actor', :collection => castings %>
		</ol>
	<% end -%>
	<%= content_tag( 'h3', 'Add new' ) %>
	<%= content_tag( 'p', link_to( 'Add a new actor', casting_new_url ) ) %>
</div>