<%= render :partial => 'shared/error_message', :object => @character_occupation %>

<%= form.hidden_field( :character_id ) %>

<table class="section">
	<tbody>
		<tr>
			<th>
				<%= content_tag( 'label', 'Occupation:', :for => 'characters_occupation_occupation_id' ) %>
			</th>
			<%= content_tag( 'td', form.select( :occupation_id, @occupations.collect {|o| [o.label, o.id]}, {}, :multiple => false ) ) %>
		</tr>
		<tr>
			<th>
				<%= content_tag( 'label', 'Start date:', :for => 'characters_occupation_start_date_1i' ) %>
			</th>
			<%= content_tag( 'td', form.date_select( 'start_date', :start_year => 1800, :include_blank => true ), :class => 'date-select' ) %>
		</tr>
		<tr>
			<th>
				<%= content_tag( 'label', 'End date:', :for => 'characters_occupation_end_date_1i' ) %>
			</th>
			<%= content_tag( 'td', form.date_select( 'end_date', :start_year => 1800, :include_blank => true ), :class => 'date-select' ) %>
		</tr>
	</tbody>
</table>