<%= render :partial => 'shared/error_message', :object => @tleo %>

<%= form.hidden_field 'fictional_universe_id', :value => @universe.id %>

<table>
	<tbody>
		<tr>
			<th>
				<%= content_tag( 'label', 'Title:', :for => 'universe_tleo_title' ) %>
			</th>
			<%= content_tag( 'td', ( form.text_field 'title', :maxlength => 255 ) ) %>
		</tr>
		<tr>
			<th>
				<%= content_tag( 'label', 'PID:', :for => 'universe_tleo_pid' ) %>
			</th>
			<%= content_tag( 'td', ( form.text_field 'pid', :maxlength => 255 ) ) %>
		</tr>
	</tbody>
</table>