<table>
	<tbody>
		<tr>
			<%= content_tag( 'th', 'Title:' ) %>
			<%= content_tag( 'td', universe_details.title ) %>
		</tr>
		<tr>
			<%= content_tag( 'th', 'Short synopsis:' ) %>
			<%= content_tag( 'td', universe_details.short_synopsis ) %>
		</tr>
		<tr>
			<%= content_tag( 'th', 'Years from now:' ) %>
			<%= content_tag( 'td', universe_details.years_from_now ) %>
		</tr>
	</tbody>
</table>