<%= render :partial => 'shared/error_message', :object => @crew %>

<table>
	<tbody>
		<tr>
			<th>
				<%= content_tag( 'label', 'Given name:', :for => 'crew_given_name' ) %>
			</th>
			<%= content_tag( 'td', ( form.text_field 'given_name', :maxlength => 255 ) ) %>
		</tr>
		<tr>
			<th>
				<%= content_tag( 'label', 'Family name:', :for => 'crew_family_name' ) %>
			</th>
			<%= content_tag( 'td', ( form.text_field 'family_name', :maxlength => 255 ) ) %>
		</tr>
		<tr>
			<th>
				<%= content_tag( 'label', 'Notes:', :for => 'crew_note' ) %>
			</th>
			<%= content_tag( 'td', ( form.text_area 'note' ) ) %>
		</tr>
	</tbody>
</table>