<div class="section">
	<%= content_tag( 'h2', 'Notes:' ) %>
	<% if notes.empty? -%>
		<%= content_tag( 'p', 'No notes to show.' ) %>
	<% else -%>
		<ol>
			<%= render :partial => 'place_note/place_note', :collection => notes %>
		</ol>
	<% end -%>
	<%= content_tag( 'h3', 'Add new' ) %>
	<%= content_tag( 'p', link_to( 'Add a new note', place_note_new_url ) ) %>
</div>