<table>
	<tbody>
		<% if group_details.start_date -%>
			<tr>
				<%= content_tag( 'th', 'Start date:' ) %>
				<%= content_tag( 'td', group_details.start_date.strftime( '%d %B %Y' ) ) %>
			</tr>
		<% end -%>
		<% if group_details.end_date -%>
			<tr>
				<%= content_tag( 'th', 'End date:' ) %>
				<%= content_tag( 'td', group_details.end_date.strftime( '%d %B %Y' ) ) %>
			</tr>
		<% end -%>
		<% if group_details.note and !group_details.note.empty? -%>
			<tr>
				<%= content_tag( 'th', 'Notes:' ) %>
				<%= content_tag( 'td', group_details.note ) %>
			</tr>
		<% end -%>
	</tbody>
</table>