<%= render :partial => 'shared/error_message', :object => @artefact %>

<table>
	<tbody>
		<tr>
			<th>
				<%= content_tag( 'label', 'Title:', :for => 'artefact_title' ) %>
			</th>
			<%= content_tag( 'td', ( form.text_field 'title', :maxlength => 255 ) ) %>
		</tr>
		<tr>
			<th>
				<%= content_tag( 'label', 'Short synopsis:', :for => 'artefact_short_synopsis' ) %>
			</th>
			<%= content_tag( 'td', ( form.text_field 'short_synopsis', :maxlength => 255 ) ) %>
		</tr>
		<tr>
			<th>
				<%= content_tag( 'label', 'Long synopsis:', :for => 'artefact_long_synopsis' ) %>
			</th>
			<%= content_tag( 'td', ( form.text_area 'long_synopsis' ) ) %>
		</tr>
	</tbody>
</table>